body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
    color: black; /* Основной цвет текста черный */
}
.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 2px;
    font-family: Fantasy, sans-serif;
}
.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}
.menu a {
    display: block;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.menu a img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.menu a:hover img {
    transform: scale(1.2);
}
.kkp {
    font-size: 50px;
    font-weight: bold;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-family: Fantasy, sans-serif;
    color: black; 
    text-decoration: none; 
}
.kkp a {
    color: black; /* Цвет текста ссылки черный */
    text-decoration: none; /* Убирает подчеркивание */
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Легкий фон */
    border-radius: 10px; /* Скругленные края */
    transition: all 0.3s ease; /* Плавный эффект */
    display: inline-block;
}

.kkp a:visited {
    color: black; /* Оставляет цвет черным после посещения */
}

.kkp a:hover {
    background-color: rgb(0, 0, 0); /* Красный фон при наведении */
    color: white; /* Белый текст */
    transform: scale(1.1); /* Увеличение */
}

.kkp a:active {
    background-color: rgb(255, 255, 255); /* Темно-красный при нажатии */
}
